@font-face {
    font-family: "BMJ";
    src: url('../Fonts/BMJUA_ttf.7dbe95a7.ttf');
}
.RouterDiv{
    display: flex;
}

.Navibar { 
    display: inline-block;
    width: 30%;
    height: 100vh;
    background-color: #d8dfe9;
    font-size: 25px;
    font-family: BMJ;
    color: white;
}
.Navibar_text{
    font-size: 35px;
    font-weight: bold;
    color: black;
    margin-top: 50px;
}
.Navi_Side{
    position: absolute;
    left: 0;
}
.Navibar_Content{
    width: 70%;
    height: 100vh;
}

.linkitem{
    display: block;
    margin-bottom: 35px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    line-height: 127px;
    border-radius: 30px 0 30px 0;
    vertical-align: middle;
    font-weight: bold;
    color: #537099;
    box-shadow: 0 10px 10px 0;
}
.linkitem:hover{
    color: #304461;
}
.menu_icon{
    width: 96px;
    height: 138px;
    background-image: url('../Images/menuIcon.png');
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 70px;
}
.menu1{
    width: 291px;
    height: 127px;
    background-image: url('../Images/menu1.png');
}
.menu2{
    width: 291px;
    height: 127px;
    background-image: url('../Images/menu2.png');
}
.menu3{
    width: 291px;
    height: 127px;
    background-image: url('../Images/menu3.png');
}
.menu1_clicked{
    background-image: url('../Images/menu1_clicked.png');
    color: #304461;
    box-shadow: 0 15px 15px 0;
}
.menu2_clicked{
    background-image: url('../Images/menu2_clicked.png');
    color: #304461;
    box-shadow: 0 15px 15px 0;
}
.menu3_clicked{
    background-image: url('../Images/menu3_clicked.png');
    color: #304461;
    box-shadow: 0 15px 15px 0;
}



.footer{
    position: fixed;
    bottom: 0;
    width: 30%;
    height: 30px;
    line-height: 30px;
    text-align: left;
    vertical-align: middle;
}
.footer p{
    font-size: 12px;
    margin-left: 10px;
}




